<html ng-app="autopax">
	<head>
		<link href="css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet">
		<script src="libs/angular.min.js" type="text/javascript"></script>
		<script src="libs/jquery.min.2.0.3.js"></script>
		<script src="libs/jquery-ui-1.10.0.custom.min.js"></script>
		<script src="libs/angular-local-storage.min.js" type="text/javascript"></script>
		<script src="app/app.js" type="text/javascript"></script>
		<style type="text/css">
		body {
			font: 62.5% "Trebuchet MS", sans-serif;
			width:200;
		}
		</style>
	</head>
	<body>
		<!-- Credit Card configuration template -->
		<form ng-submit="submit()" ng-controller="Config">
			<div id="config">
				<h4>Passenger Details</h4>
				<input type="checkbox" ng-model="configOpts.ibe" ng-click="change()">IBE<br>
				<input type="checkbox" ng-model="configOpts.grp" ng-click="change()">Group<br>
				<input type="checkbox" ng-model="configOpts.nf" ng-click="change()">Name Firming<br>
				<input type="checkbox" ng-model="configOpts.exp" ng-click="change()">Express<br>
				<h4>Profile</h4>
				<input type="checkbox" ng-model="configOpts.prof" ng-click="change()">Profile Details<br>
				<h4>Payment</h4>
				<input type="checkbox" ng-model="configOpts.card" ng-click="change()">Credit Card<br>
				<h4>Additional</h4>
				<input type="checkbox" ng-model="configOpts.np" ng-click="change()">Number plate<br>
				<input type="checkbox" ng-model="configOpts.tc" ng-click="change()">Terms and Conditions<br>
				<input type="checkbox" ng-model="configOpts.ap" ng-click="change()">All Pax<br>
				<br/>
				<a href="#" ng-click="openConfig()">  Config  </a>
			</div>
		</form>
	</body>
</html>